includes:
	- vendor/phpstan/phpstan-webmozart-assert/extension.neon

parameters:
    level: 3
    paths:
        - %currentWorkingDirectory%/src
    autoload_directories:
        - %currentWorkingDirectory%/src
